@page "/"

<!--blazor-dev-tools:file:open:bdt5c6485e9:Home:Components/Pages/Home.razor-->
<!--blazor-dev-tools:usage:open:bdt_usage_PageTitle_0006:PageTitle--><PageTitle>Home</PageTitle><!--blazor-dev-tools:usage:close:bdt_usage_PageTitle_0006:PageTitle-->

<h1>Hello, world!</h1>
<!--blazor-dev-tools:usage:open:bdt_usage_ComponentA_0007:ComponentA--><ComponentA />
<!--blazor-dev-tools:usage:open:bdt_usage_ComponentB_0008:ComponentB--><ComponentB />
<!--blazor-dev-tools:usage:close:bdt_usage_ComponentB_0008:ComponentB--><!--blazor-dev-tools:usage:close:bdt_usage_ComponentA_0007:ComponentA-->
<!--blazor-dev-tools:file:close:bdt5c6485e9-->