<h3>@ContentTitle</h3>
@ContentBody
@code {
    [Parameter]
    public RenderFragment ContentTitle { get; set; } = default!;
    [Parameter]
    public RenderFragment ContentBody { get; set; } = default!;
}